:root {
	--color-pink1: #fae1dd;
	--color-pink2: #fec5bb;
	--color-pink3: #ffb4a2;
	--color-white1: #edede9;
	--color-white2: #f2e9e4;
	--color-white3: #e7ecef;
	--color-white4: #fdf0e0;
	--color-blue1: #deedf0;
	--color-blue2: #caf0f8;
	--color-blue3: #ade8f4;
	--color-brown1: #faedcd;
	--color-brown2: #ffcdb2;
	--color-brown3: #d4a373;
	--color-green1: #d8e2dc;
	--color-green2: #e9edc9;
	--color-green3: #ccd5ae;
	--color-gray: #6d6875;
}
